<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="logback-file.xml"/>

    <root level="info">
        <springProfile name="local">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </springProfile>
        <springProfile name="service">
            <appender-ref ref="FILE"/>
        </springProfile>
        <springProfile name="real">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
    </root>
</configuration>